aws_region           = "ca-central-1"
project_name         = "tlc-mlops"
instance_type        = "m6i.large"
allowed_cidr         = "X.X.X.X/32"
key_pair_name        = "my-aws-key"
enable_github_actions_oidc = true
github_repository          = "your-user/your-repo"
github_environments        = ["staging", "production"]
