apiVersion: 1

providers:
  - name: tlc-demand-forecasting
    orgId: 1
    folder: TLC Demand Forecasting
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards
