APP_ROOT={{ app_root }}
AWS_DEFAULT_REGION={{ aws_region }}
S3_BUCKET={{ s3_bucket }}
PREDICTIONS_DB_URI=postgresql://mlflow:{{ mlflow_db_password }}@localhost/predictions
MLFLOW_TRACKING_URI=http://127.0.0.1:{{ mlflow_port }}
MODEL_NAME={{ replay_model_name }}
MODEL_ALIAS={{ replay_model_alias }}
